<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/createAchivment.css">
  <title>Регистрация</title>
</head>
<body>

<div class="form">
  <div class="create">
    <p>Создание</p>
  </div>
  <input type="text" name="name" placeholder="Название">
  <input type="text" name="description" placeholder="описание">
  <input type="file" name="image" placeholder="Название картинки">
  <button>Добавить</button>
</div>

<script src="/assets/js/createAchivment.js"></script>
</body>
</html>