
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<main>
</main>

<div class="frameAchivmentList">
    {{range .Achivments}}

    <div class="Box" data-idachivment={{.Id}}>

        <title>

        </title>
        <title>
            {{.Name}}
        </title>
        <img src="assets/img/{{.Image}}" align="middle" width="65" height="65" alt="">

    </div>
    {{end}}
</div>
</body>
<script src="/assets/js/OpenAchivment.js"></script>
</html>