* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    transition: 0.3s;
}

body {
    background: #110c1b;

}

.Box>img {
    object-position: 50% 50%;
    transform: translateY(-12.5px);
    display: inline-grid;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: 3px;


}

.frameAchivmentList{
    display: inline-grid;
    padding: 25px;
    margin: 50px;
    grid-auto-rows: 75px;
    font-size: 11px;
    grid-template-columns: repeat(5,80px);
    background: #1a1522;
    border: solid 5px #BDBDBD;
    gap: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


.Box{
    margin: 1px;
    padding: 1px;
    border: solid 2px #BDBDBD;
    text-align: center;
    vertical-align: bottom;
    background-size: 50px;
    border-radius: 5px;


}

title{
    color: #ffffff;
    transform: translateY(75px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: visible;
}
.Box>text{

}

@keyframes show{ 0%{opacity: 0;} 100% {opacity: 1;}}
.WindowAchivment {
    animation-name: show;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    border: solid 2px #424242;
    position: fixed;
    width: 200px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1a1522;
    opacity: 1;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border-radius: 5px;
}
.icoAchivmentInGetInfo{
    position: relative;
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
}
.icoAchivmentInGetInfo > img {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.gridInfoRow{
    padding: 5px 1px 2px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
}
.gridInfo{
    background: #1a1522;
    font-size: 20px;
}
.gridDescription{
    overflow: auto;
    font-size: 12px;
    word-break: break-all;
    border-top: 2px solid #424242;
    color: #b6c5d4;
}
.closeButton{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 2px;
    transform: translateY(+50%);
}
.closeButton::before,
.closeButton::after {
    content: "";
    background-color: white;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%) rotateZ(-45deg);
}
.closeButton::after {
    transform: translateX(-50%) rotateZ(45deg);
}
.closeButton:hover {
    cursor: pointer;
}
.closeButton:hover::before,
.closeButton:hover::after {
    background-color: red;
}


.Box:hover{
    border-color: #00e5ff;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}